/* You can add global styles to this file, and also import other style files */
table {
  border-collapse: collapse;
}

fieldset div {
  margin: 5px 0;
}

fieldset div label {
  display: inline-block;
  width: 150px;
}

.err-msg {
  color: red;
  font-weight: bold;
}
